* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;

  // @media screen and (min-width: 2000px) {
  //   font-size: 100%;
  // }
}

body {
  font-family: "Lexend", sans-serif !important;

  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  color: #505050;
  overflow: hidden auto;
  &::-webkit-scrollbar {
    display: none;
  }
  // @media screen and (min-width: 2000px) {
  //   font-size: 20px;
  // }
}

a {
  text-decoration: none;
  color: inherit;
}

button,
select {
  border: none;
  outline: none;
  cursor: pointer;
  cursor: pointer;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main {
  transition: 0.3s ease-in-out;
}

.container {
  width: 100%;
  max-width: 123rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 12px;
}

.no-scroll {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

iframe {
  vertical-align: middle;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.t-center {
  text-align: center;
}

.fw-b {
  font-weight: bold;
}

.fsi {
  font-style: italic;
}

.t-up {
  text-transform: uppercase;
}

.tabBtn {
  cursor: pointer;
}

.gItem {
  cursor: pointer;
}

.global-title {
  max-width: 0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}
.font-manrope {
  font-family: "Manrope", sans-serif;
}
.is-pd {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include max(1199.98px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  @include max(767.98px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @include max(575.98px) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.is-sp {
  display: none;
  @include max(575.98px) {
    display: block;
  }
}
